.container-1 {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: center;
    background: black;
    padding: 20px;

}

.container-2 {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.container-img {
    display: flex;
    padding-top: 200px;
}

.box-1 h1{
    color: #ffffff;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 64px;
    height: 70px;
    
}

.box-2 {
    border: 3px dashed black;
    height: 350px;
    width: 40%; 
    text-align: center;
}

.box-2-first {
    background: navy;
    color: turquoise;
}

.box-2 p {
    line-height: 40px;
}

#selectedLetter, #incorrect {
    font-size: 40px;
}

span {
    font-size: 24px;
}

