.container-1 {
    display: flex;
    width: 100%;
    justify-content: center;
    background: black;
    padding: 20px;

}

.container-2 {
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
}

.box-img{
    opacity: 0.6;
    width: 45%;
    margin-left: 10px;
}


.box-1 h1{
    color: #ffffff;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 64px;
    height: 70px;
    
}

.box-2 {
    border: 3px dashed black;
    margin-left: 30px;
    height: 350px;
    width: 35%; 
    text-align: center;
}

.box-2-first {
    color:black;
    font-size: 20px;
    padding-top: 100px;
}

.box-2 p {
    line-height: 40px;
}

#selectedLetter, #incorrect {
    font-size: 36px;
}

span {
    font-size: 30px;
}

